/* CSS Reset Code */
/* ************************************* */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}

abbr,acronym,a {
    color: #005ea7;
    text-decoration: none;
}

input {
    border: 0;
    padding: 2px;
    outline: none;
    color: #bcbcbc;
}

/*移动端定义格式*/
html{
    font-size: 62.5%;  /* 10px */
}
body{
    font-size: 1.4rem;  /*14px*/
    font-family: "Helvetica Neue",Helvetica,"Microsoft Yahei",sans-serif;
    background-color: #F5F5F5;
}
h1{
    font-size: 2.4rem;  /* 24px */
}
a,img{
    -webkit-touch-callout: none;
}
html,body{
    -webkit-user-select: none;
    user-select: none;
}
/* 实现图片响应式缩放 */
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ***************************** */
/* Header样式 */
header{
    width: 100%;
    height: 5rem;
    background-color: #91D4DA;
    position: relative;
}
header a{
    font-size: 2.1rem;
    color: #FEFEF8;
    display: block;
    height:2.8rem;
    position: absolute;
    left: 5%;
    top: 50%;
    margin-top: -1.35rem;
}
header a:before{
    content: url(../image/back-arrow.png);
    display: inline-block;
    vertical-align: middle;
}
header h1{
    text-align: center;
    color: #FEFEF8;
    line-height: 5rem;
}

/* Nav导航 */
nav{
    width: 100%;
    background-color: #fff;
}
nav ul{
    height: 5rem;
    display: -webkit-flex;
    display: flex;
    justify-content:space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content:space-around;
    align-items: center;
    padding: 0 20px;
}
nav ul li{
    width: 20%;
    text-align: center;

}
.on{
    border-bottom: 4px solid #8FD6D8;
}
.on a{
    margin-bottom: -4px;
}
nav ul a{
    display: block;
    font-size: 1.9rem;
    line-height: 5rem;
    color: #707070;
    font-weight: 500;
}

/****  banner  ****/
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}

/***** 标签   ****/
.tag{
    width: 100%;
    background-color: #fff;
}
.tag ul{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    align-items: center;
    -wekit-align-items:center;
    -ms-align-items:center;
    height: 10rem;
    margin: 0px 10px;
    padding: 0 10px;
    border-bottom: 2px solid #E4E4E4;
}
.tag ul li{
    text-align: center;
    margin: 0 4px;
}
.tag ul a{
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: #00C7D6;
    position: relative;
}
.tag ul img{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.5rem 0 0 -1.5rem;
}
.tag ul p{
    font-size: 1.4rem;
    color: #535353;
    padding-top: 10px;
    font-weight: 600;
}

/*   分栏  */
.column{
    width: 100%;
    background-color: #fff;
}
.column ul{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content:space-around;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items:center;
    padding: 30px 10px;
}
.column li{
    width: 30%;
    text-align: center;
}
.column li+li{
    border-left: 2px solid #E4E4E4;
    border-right: 2px solid #E4E4E4;
}
.column li:last-child{
    border: 0;
}
.column img{
    height: 6.5rem;
    margin: 0 auto;
}
.column h2{
    font-size: 2.2rem;
    padding: 14px 0 8px 0;
}
.column h3{
    font-size: 1.6rem;
}

/****   模块 ****/
.module{
    background-color: #fff;
    margin-top: 16px;
    padding: 15px;
}
.module h1{
    border-bottom: 2px solid #F8F8F8;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.module section{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items:center;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow:row nowrap;
}
.module section+section{
    margin-top: 0.5rem;
}
.module img{
    height: 7.5rem;
}
.module ul{
    flex: 1;
    margin-left: 10px;
}
.module ul li{
    background-color: #F8F8F8;
    padding: 10px;
    font-size: 1.6rem;
    text-align: center;
}
.module ul li:first-child{
    margin-bottom: 0.5rem;
}

/************/
/* 文章 */
.news1{
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow:row nowrap;
    align-items: center;
    padding: 1.5rem;
    margin-top: 1.6rem;
    background-color: #fff;
}
.news1+.news1{
    margin-top: 4px !important;
}
.news1 img{
    height: 9.5rem;
    width: 15rem;
}
.news1 div{
    width: 100%;
    padding-left: 15px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -ms-flex-flow:column nowrap;
    -webkit-flex-flow: column nowrap;
    justify-content: space-between;
    -ms-justify:space-between;
    -webkit-justify-content: space-between;
}
.news1 h2{
    font-size: 2.2rem;
    color: #676767;
}
.news1 p,.news2 p{
    color: #CBCBCB;
    font-size: 2rem;
}
.news1 p span,.news2 p span{
    padding-left: 10px;
}

.news2{
    background-color: #fff;
    padding: 15px;
    margin: 4px 0 40px 0;
}
.news2 h2{
    font-size: 2.2rem;
    color: #676767;
    margin-bottom: 10px;
}
.news2 div{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content:space-between;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items:center;
}
.news2 img{
    width: 32.5%;
}